
/*
 * ----------------------------------------------------------------------------
 *                  Nextflow pipeline configuration file
 * ----------------------------------------------------------------------------
 */


/*
 * Global default parameters
 */
params {

    /*
     * Required parameters
     */
    input  = false
    genome = 'GRCh38'

    /*
     * Optional parameters
     */

    // assume data is not single end
    single_end = false

    // stringTie Merge Parameter.
    merge_with = false 

    // multiqc common parameters
    multiqc_config = "${baseDir}/assets/multiqc_config.yaml"
    multiqc_plots  = false

    // parameters to pass additional flags to individual modules
    fastp_params   = true
    fastqc_params  = false
    multiqc_params = false

    /*
     * Boilerplate parameters
     */
    outdir = './results'
    tracedir = "${params.outdir}/pipeline_info"
    enable_conda = false

}

// Container path (local or remote)
process.container = false

// Read additional configuration files
includeConfig 'conf/base.config'
includeConfig 'conf/genomes.config'

// profiles to execute the pipeline
// "TO BE EDITED ACCORDINGLY!!!"
