 /*set filetype=groovy:
 *
 * To configure in the pipeline's configuration file:
 *   includeConfig "/path/to/genomes.config"
 * To configure in the nextflow main script for each needed reference file:
 *   params.fasta = params.genomes[ params.genome ]?.fasta
 *
 */

params {

  genomes {

  // Specify in the command line --genome "GRCh38" or "XXXXX" to use the corresponding settings
  // GRCh38 will be selected by default if nothing is specified.
  // Users can create custom settings below and use them freely.

                                                                                                 
    'GRCh38' {                                                                                   // GRCh38 - current setting for human data
      fasta = 'path_to/fasta/hg38.analysisSet.fa'                                    // FASTA sequence of HG38   
      gtf   = 'path_to/gencode.v38.primary_assembly.annotation.gtf'      // Gencode GTF (Primary Annotation)
      star = 'path_to/GRCh38/star/STAR276a'                                                 // STAR index 
      transcriptome= 'path_to/transcripts_gencode.v41.pri.fa'         // Transcriptome Derived from GENCODE v38    
    }
}}


